<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAER1ODMg-E5HOABE1NWURRqyRya9_lkCk</string>
	<key>GCM_SENDER_ID</key>
	<string>640509727266</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.avows.dompetKu</string>
	<key>PROJECT_ID</key>
	<string>dompet-ku-add1</string>
	<key>STORAGE_BUCKET</key>
	<string>dompet-ku-add1.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:640509727266:ios:04fbc8b377daaabd83b07b</string>
</dict>
</plist>